@import '../../../style/settings.scss';

nav{
    width: 97%;
    position: fixed;
    top: 20px;
    left: 32px;
    z-index: 999;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            &:first-of-type{
                transform: rotateZ(8deg);
                a{
                    @include body;
                    background: $black;
                    color: $purpleLight;
                    padding: 7.61px 12.72px;
                    border-radius: 80px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    nav{
        top: 12px;
        width: 88%;
    }
}