@import '../../../style/settings.scss';

.container__finalFrame {
    background: $black;
    height: 100vh;
    padding: 0 100px;
    border-radius: 60px;
    h2 {
        text-transform: uppercase;
        position: relative;
        top: 30%;
        opacity: 0.8;
    }
    h1 {
        @include hero;
        margin: 0 auto; 
        position: relative;
        top: 50%; 
        transform: translateY(-50%);
        text-align: justify;
    }
    h2, h1 {
        color: $beige;
    }
}
