@import '../../../style/settings.scss';

.container__finalFrame {
    background: $black;
    height: 100vh;
    padding: 0 100px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        text-transform: uppercase;
        position: relative;
        top: 30%;
        opacity: 0.8;
    }
    h1 {
        @include hero;
        margin: 0 auto; 
        margin: 450px 0 125px 0; 
        text-align: justify;
    }
    h2, h1 {
        color: $beige;
    }
}

@media screen and (max-width: 450px){
    .container__finalFrame{
        padding: 0 60px;
        h1{
        font-size: 40px;
        line-height: 48px;
        margin: 300px 0 200px 0;

        }
        h2{
            top: 5%;
        }
    }
}