$black :  hsl(60, 3%, 15%, 1);
$beige : hsl(60, 1%, 95%, 1);
$purpleLight : hsl(234, 100%, 96%);
$purpleMid: hsl(234, 100%, 81%);
$purpleDark: hsl(234, 61%, 72%);
$pinkLight: hsl(333, 100%, 96%);
$pinkMid: hsl(333, 84%, 75%);
$pinkdark: hsl(333, 57%, 63%);
$greenLight:hsl(83, 100%, 91%);
$greenMid:hsl(83, 29%, 61%);
$greenDark:hsl(83, 28%, 55%);
$blueLight:hsl(212, 100%, 86%);
$blueMid: hsl(212, 40%, 58%);
$blueDark: hsl(212, 38%, 43%);
$mustardLight:hsl(55, 100%, 88%);
$mustardMid:hsl(54, 36%, 67%);
$mustardDark:hsl(53, 34%, 64%);
$orangeLight:#ffbead;
$orangeMid:hsl(12, 85%, 67%);
$orangeDark:hsl(12, 60%, 58%);
$white : hsl(0, 0%, 100%, 1);

// classe typo 

@mixin body {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

@mixin bodyBold {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}

@mixin hero{
    font-size: 115px;
    line-height: 123px;
    font-weight: 600;
}

